# Project Template
##### To get started with the project, go to the workspace on the next page, where you'll find the project template (a Jupyter notebook file). You can work on your project and submit your work through this workspace.

The project template includes one Jupyter Notebook file, in which:

##### you will process the event_datafile_new.csv dataset to create a denormalized dataset
##### you will model the data tables keeping in mind the queries you need to run
##### you have been provided queries that you will need to model your data tables for
##### you will load the data into tables you create in Apache Cassandra and run your queries

In [1]:
# required packages 
import pandas as pd
import numpy as np
import glob
import os
import cassandra
from cassandra.cluster import Cluster
import csv

In [2]:
print(os.getcwd())

filepath = os.getcwd() + '/event_data'

for root, dirs, files in os.walk(filepath):
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/Users/nikhil/Desktop/learning/Data_engineering_Udacity/Part 1 Data modeling/Project 2 NoSql

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
#         print(files)
        files = glob.glob(os.path.join(root,'*.csv'))
#         print(files)
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

In [4]:
all_files=get_files(filepath)

In [5]:
print(len(all_files))

30

#### Read the csv and write to file called "event_datafile_new"

In [6]:
df=pd.read_csv(all_files[0])

In [7]:
for i in all_files[1:]:
    df=pd.concat([df,pd.read_csv(i)])

In [8]:
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userId
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541020e+12,583,Sehr kosmisch,200,1.542240e+12,26.0
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541020e+12,583,The Big Gundown,200,1.542240e+12,26.0
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541020e+12,583,Marry Me,200,1.542240e+12,26.0
3,NaN,Logged In,Wyatt,M,0,Scott,NaN,free,"Eureka-Arcata-Fortuna, CA",GET,Home,1.540870e+12,563,NaN,200,1.542250e+12,9.0
4,NaN,Logged In,Austin,M,0,Rosales,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.541060e+12,521,NaN,200,1.542250e+12,12.0

In [9]:
df=df.dropna(subset=['artist'])

In [10]:
df

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userId
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541020e+12,583,Sehr kosmisch,200,1.542240e+12,26.0
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541020e+12,583,The Big Gundown,200,1.542240e+12,26.0
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541020e+12,583,Marry Me,200,1.542240e+12,26.0
5,Sony Wonder,Logged In,Samuel,M,0,Gonzalez,218.06975,free,"Houston-The Woodlands-Sugar Land, TX",PUT,NextSong,1.540490e+12,597,Blackbird,200,1.542250e+12,61.0
9,Van Halen,Logged In,Tegan,F,2,Levine,289.38404,paid,"Portland-South Portland, ME",PUT,NextSong,1.540790e+12,602,Best Of Both Worlds (Remastered Album Version),200,1.542260e+12,80.0
10,Magic Sam,Logged In,Tegan,F,3,Levine,132.04853,paid,"Portland-South Portland, ME",PUT,NextSong,1.540790e+12,602,Call Me If You Need Me,200,1.542260e+12,80.0
11,Edward Sharpe & The Magnetic Zeros,Logged In,Tegan,F,4,Levine,306.31138,paid,"Portland-South Portland, ME",PUT,NextSong,1.540790e+12,602,Home,200,1.542260e+12,80.0
12,Usher featuring will.i.am,Logged In,Tegan,F,5,Levine,395.72853,paid,"Portland-South Portland, ME",PUT,NextSong,1.540790e+12,602,OMG,200,1.542260e+12,80.0
14,Helen Reddy,Logged In,Tegan,F,7,Levine,176.50893,paid,"Portland-South Portland, ME",PUT,NextSong,1.540790e+12,602,Candle On The Water,200,1.542260e+12,80.0
15,Taylor Swift,Logged In,Tegan,F,8,Levine,201.06404,paid,"Portland-South Portland, ME",PUT,NextSong,1.540790e+12,602,Our Song,200,1.542260e+12,80.0
16,Sean Paul,Logged In,Tegan,F,9,Levine,245.34159,paid,"Portland-South Portland, ME",PUT,NextSong,1.540790e+12,602,Baby Boy [feat. Beyonce],200,1.542260e+12,80.0
17,Soundgarden,Logged In,Lily,F,0,Koch,272.19546,paid,"Chicago-Naperville-Elgin, IL-IN-WI",PUT,NextSong,1.541050e+12,582,Black Hole Sun,200,1.542260e+12,15.0
18,The Killers,Logged In,Tegan,F,10,Levine,360.75057,paid,"Portland-South Portland, ME",PUT,NextSong,1.540790e+12,602,Human,200,1.542260e+12,80.0
19,Amy Winehouse,Logged In,Lily,F,1,Koch,165.11955,paid,"Chicago-Naperville-Elgin, IL-IN-WI",PUT,NextSong,1.541050e+12,582,Addicted,200,1.542260e+12,15.0
20,Steve Anderson,Logged In,Lily,F,2,Koch,265.06404,paid,"Chicago-Naperville-Elgin, IL-IN-WI",PUT,NextSong,1.541050e+12,582,Air,200,1.542260e+12,15.0
21,Rob Zombie,Logged In,Lily,F,3,Koch,220.13342,paid,"Chicago-Naperville-Elgin, IL-IN-WI",PUT,NextSong,1.541050e+12,582,Superbeast,200,1.542260e+12,15.0
22,Deadmau5 & Kaskade,Logged In,Lily,F,4,Koch,595.56526,paid,"Chicago-Naperville-Elgin, IL-IN-WI",PUT,NextSong,1.541050e+12,582,I Remember,200,1.542260e+12,15.0
24,Shania Twain,Logged In,Ryan,M,0,Smith,213.70730,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541020e+12,607,Don't Be Stupid (You Know I Love You),200,1.542270e+12,26.0
25,Los Campesinos,Logged In,Ryan,M,1,Smith,138.10893,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541020e+12,607,We throw parties_ you throw knives,200,1.542270e+12,26.0
26,Ill Nino,Logged In,Chloe,F,1,Cuevas,188.91710,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,606,How Can I Live (Spanish version) (Album Version),200,1.542270e+12,49.0
27,Mia X,Logged In,Chloe,F,2,Cuevas,236.09424,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,606,Thugs Like Me,200,1.542270e+12,49.0
28,Rage Against The Machine,Logged In,Chloe,F,3,Cuevas,314.40934,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,606,Killing In The Name,200,1.542270e+12,49.0
29,Asia 2001,Logged In,Chloe,F,4,Cuevas,150.30812,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,606,Epilogue,200,1.542270e+12,49.0
30,Muse,Logged In,Chloe,F,5,Cuevas,228.93669,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,606,Endlessly,200,1.542270e+12,49.0
32,Rise Against,Logged In,Chloe,F,6,Cuevas,221.17832,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,606,Torches,200,1.542270e+12,49.0
35,Modest Mouse,Logged In,Mohammad,M,3,Rodriguez,259.47383,free,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.540510e+12,591,The Good Times Are Killing Me,200,1.542270e+12,88.0
36,Marc Anthony,Logged In,Chloe,F,7,Cuevas,314.43546,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,606,Te Conozco Bien,200,1.542270e+12,49.0
37,Regina Spektor,Logged In,Chloe,F,8,Cuevas,191.08526,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,606,The Calculation (Album Version),200,1.542270e+12,49.0
38,Nina Sky,Logged In,Tegan,F,0,Levine,101.92934,paid,"Portland-South Portland, ME",PUT,NextSong,1.540790e+12,611,Goodbye (Interlude),200,1.542270e+12,80.0
39,Five Iron Frenzy,Logged In,Avery,F,0,Watkins,236.09424,paid,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.540870e+12,324,Canada,200,1.542280e+12,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,Rihanna,Logged In,Rylan,M,44,George,239.75138,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,G4L,200,1.543600e+12,16.0
357,Evanescence,Logged In,Rylan,M,45,George,220.34240,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Hello,200,1.543600e+12,16.0
358,Mr. Vegas,Logged In,Chloe,F,12,Cuevas,240.69179,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,1114,Tamale,200,1.543600e+12,49.0
359,Mischa Daniels,Logged In,Rylan,M,46,George,419.81342,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Another Place,200,1.543600e+12,16.0
360,The Menzingers,Logged In,Chloe,F,13,Cuevas,276.00934,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,1114,Straight To Hell,200,1.543600e+12,49.0
361,Justin Timberlake,Logged In,Chloe,F,14,Cuevas,288.93995,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,1114,Cry Me A River,200,1.543600e+12,49.0
362,Vilma Palma e Vampiros,Logged In,Rylan,M,47,George,338.18077,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Un Camino Hasta Vos,200,1.543600e+12,16.0
363,CCCP - Fedeli Alla Linea,Logged In,Chloe,F,15,Cuevas,329.66485,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,1114,Sura (2008 Digital Remaster),200,1.543600e+12,49.0
364,Kid Cudi / MGMT / Ratatat,Logged In,Rylan,M,48,George,295.67955,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Pursuit Of Happiness (nightmare),200,1.543600e+12,16.0
365,Drake / Kanye West / Lil Wayne / Eminem,Logged In,Chloe,F,16,Cuevas,357.66812,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,1114,Forever,200,1.543600e+12,49.0
366,A Day To Remember,Logged In,Rylan,M,49,George,247.64036,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Homesick [Acoustic],200,1.543600e+12,16.0
367,T.I.,Logged In,Jayden,M,0,Bell,299.75465,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540990e+12,1085,Dead And Gone [feat. Justin Timberlake] (Expli...,200,1.543600e+12,91.0
368,The Offspring,Logged In,Rylan,M,50,George,163.31710,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,It'll Be a Long Time (Album Version),200,1.543600e+12,16.0
369,Jorge Gonzalez,Logged In,Chloe,F,17,Cuevas,272.14322,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,1114,Esta Es Para Hacerte FÃÂ©liz,200,1.543600e+12,49.0
370,Sneaker Pimps,Logged In,Jayden,M,1,Bell,260.91057,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540990e+12,1085,Spin Spin Sugar,200,1.543600e+12,91.0
371,Escape The Fate,Logged In,Rylan,M,51,George,266.73587,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,This War Is Ours (The Guillotine II),200,1.543600e+12,16.0
372,Juanes,Logged In,Chloe,F,18,Cuevas,243.27791,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,1114,La Vida Es Un Ratico,200,1.543600e+12,49.0
373,The Replacements,Logged In,Rylan,M,52,George,170.57914,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Never Mind,200,1.543600e+12,16.0
374,Sarah McLachlan,Logged In,Chloe,F,19,Cuevas,278.90893,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,1114,Possession,200,1.543600e+12,49.0
375,Sonny Boy Williamson,Logged In,Rylan,M,53,George,152.24118,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Don't Start Me Talkin',200,1.543600e+12,16.0
376,Soul II Soul Featuring Caron Wheeler,Logged In,Rylan,M,54,George,225.22730,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Back To Life (However Do You Want Me) (2003 Di...,200,1.543600e+12,16.0
377,Florence + The Machine,Logged In,Chloe,F,20,Cuevas,219.66322,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,1114,Dog Days Are Over (Radio Edit),200,1.543600e+12,49.0
378,Pantera,Logged In,Rylan,M,55,George,286.69342,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Heresy (LP Version),200,1.543600e+12,16.0
380,Cold,Logged In,Chloe,F,21,Cuevas,177.76281,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,1114,Remedy,200,1.543600e+12,49.0
381,Norther,Logged In,Chloe,F,22,Cuevas,246.54322,paid,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540940e+12,1114,Frozen Angel,200,1.543600e+12,49.0
382,Foo Fighters,Logged In,Rylan,M,57,George,271.38567,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,The Pretender,200,1.543600e+12,16.0
383,Timbiriche,Logged In,Rylan,M,58,George,202.60526,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Besos De Ceniza,200,1.543600e+12,16.0
384,A Perfect Circle,Logged In,Rylan,M,59,George,206.05342,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Rose,200,1.543600e+12,16.0
385,Anberlin,Logged In,Rylan,M,60,George,348.68200,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,The Haunting,200,1.543600e+12,16.0
387,Deas Vail,Logged In,Elijah,M,0,Davis,237.68771,free,"Detroit-Warren-Dearborn, MI",PUT,NextSong,1.540770e+12,985,Anything You Say (Unreleased Version),200,1.543610e+12,5.0

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

In [11]:
df=df[['artist', 'firstName', 'gender', 'itemInSession', 'lastName','length', 'level', 'location','sessionId', 'song', 'userId']]

In [12]:
df.to_csv('event_datafile_new.csv')

### Now for the cassandra part

In [13]:
try:
    cluster=Cluster(['127.0.0.1'])
    session=cluster.connect()
except Exception as e:
    print(e)

In [14]:
session.execute("create keyspace if not exists sparkify with replication={'class':'SimpleStrategy','replication_factor':1}")

In [15]:
session.set_keyspace('sparkify')

## Note model is based on the queries

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [16]:
df.columns

Index(['artist', 'firstName', 'gender', 'itemInSession', 'lastName', 'length',
       'level', 'location', 'sessionId', 'song', 'userId'],
      dtype='object')

# Query #1

### Give me the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession = 4

To answer this question we will need to obtain (select) the artist name, song name, and song length from out table, and we will need to filter by sessionId and itemInSession.
In CQL our query looks like:

*SELECT artist, song_title, song_length FROM session_songs WHERE sessionId = 338 AND itemInSession = 4*

- We will name our table **session_songs**
- Our primary key will consist of partition key sessionId, and clustering key itemInSession so that we can filter by this attributes later on.
- The columns of our table will be: sessionId, itemInSession, artist, song_title and song_length.

In [17]:
session.execute("create table if not exists session_songs(sessionId int,itemInSession int,artist text,song text,length float,primary key(sessionId,itemInSession))")

In [18]:
file=pd.read_csv('event_datafile_new.csv')

In [19]:
query1=file[['sessionId','itemInSession','artist','song','length']]

In [20]:
query1.columns=['sessionId','itemInSession','artist','song','length']
query1.head()

,sessionId,itemInSession,artist,song,length
0,583,0,Harmonia,Sehr kosmisch,655.77751
1,583,1,The Prodigy,The Big Gundown,260.07465
2,583,2,Train,Marry Me,205.45261
3,597,0,Sony Wonder,Blackbird,218.06975
4,602,2,Van Halen,Best Of Both Worlds (Remastered Album Version),289.38404

In [21]:
q="INSERT INTO session_songs (sessionId, itemInSession, artist, song,length)VALUES (%s, %s, %s, %s, %s)"
for i in query1.values:
    sessionId, itemInSession, artist, song_title, song_length=int(i[0]),int(i[1]),i[2],i[3],float(i[4])
#     print(type(sessionId),type( itemInSession),type( artist), song_title, type(song_length))
    session.execute(q,(sessionId, itemInSession, artist, song_title, song_length))

In [22]:
rows = session.execute("""SELECT artist, song, length FROM session_songs WHERE sessionId = 338 AND itemInSession = 4""")

for row in rows:
    print(row.artist, row.song, row.length)

Faithless Music Matters (Mark Knight Dub) 495.30731201171875

# Query #2

### Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

To answer this question we will need to obtain (select) the artist name, song name, user name and user lastname from out table, we will need to filter by userId and sessionId, and order by itemInSession. 

In CQL our query looks like:

*SELECT itemInSession, artist, song, firstName, lastName FROM user_songs WHERE userId = 10 AND sessionId = 182*

- We will name our table **user_songs**
- Our primary key will consist of composite partition key userId, sessionId. The reason for this is that if we only use userId as partition key, the sessionid which belongs to the same user will be put into different nodes, which will have the performance issue when the volume of data is large.
- Our clustering key will be itemInSession so that our results are order by it.
- The columns of our table will be: userId, sessionId, itemInSession, artist, song and firstName and lastName.

In [23]:
df.columns

Index(['artist', 'firstName', 'gender', 'itemInSession', 'lastName', 'length',
       'level', 'location', 'sessionId', 'song', 'userId'],
      dtype='object')

In [24]:
session.execute("create table if not exists user_songs(userid int,sessionId int,itemInSession int,artist text,firstName text,lastName text,primary key((userId,sessionId),itemInSession))")

In [25]:
query2=df[['userId','sessionId','itemInSession' ,'artist','firstName' ,'lastName' ]]
query2.columns=['userId','sessionId','itemInSession' ,'artist','firstName' ,'lastName' ]
query2.head()

   userId  sessionId  itemInSession       artist firstName  lastName
0    26.0        583              0     Harmonia      Ryan     Smith
1    26.0        583              1  The Prodigy      Ryan     Smith
2    26.0        583              2        Train      Ryan     Smith
5    61.0        597              0  Sony Wonder    Samuel  Gonzalez
9    80.0        602              2    Van Halen     Tegan    Levine

In [26]:
q="INSERT INTO user_songs (userid, sessionId, itemInSession, artist,firstName,lastName)VALUES (%s, %s, %s, %s, %s,%s)"
for i in query2.values:
#     print(int(i[0]))
    userid, sessionId, itemInSession, artist,firstName,lastName=int(i[0]),int(i[1]),int(i[2]),i[3],i[4],i[5]
#     print(type(sessionId),type( itemInSession),type( artist), song_title, type(song_length))
    session.execute(q,(userid, sessionId, itemInSession, artist,firstName,lastName))

In [27]:
rows = session.execute("""SELECT itemInSession, artist, firstName, lastName FROM user_songs WHERE userId = 10 AND sessionId = 182""")

for row in rows:
    print(row.iteminsession, row.artist,  row.firstname, row.lastname)

0 Down To The Bone Sylvie Cruz
1 Three Drives Sylvie Cruz
2 Sebastien Tellier Sylvie Cruz
3 Lonnie Gordon Sylvie Cruz

# Query #3

### Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

To answer this question we will need to obtain (select) the user first name and lastname from out table, and we will need to filter by song name. As user name and lastname, in large datasets, are not unique, we will add the column userId to uniquely identify users.

In CQL our query looks like:

*SELECT firstName, lastName FROM app_history WHERE song = 'All Hands Against His Own'*

- We will name our table **app_history**
- Our primary key will consist of partition key song, and clustering key userId. This uniquely identifies our rows.
- The columns of our table will be: song, firstName, lastName and userId.

In [28]:
session.execute("create table if not exists app_history(song text,firstName text,lastName text,userId int,primary key(song,userId))")

In [29]:
query3=df[['song','firstName','lastName','userId']]
query3.head()

                                             song firstName  lastName  userId
0                                   Sehr kosmisch      Ryan     Smith    26.0
1                                 The Big Gundown      Ryan     Smith    26.0
2                                        Marry Me      Ryan     Smith    26.0
5                                       Blackbird    Samuel  Gonzalez    61.0
9  Best Of Both Worlds (Remastered Album Version)     Tegan    Levine    80.0

In [30]:
q="INSERT INTO app_history (song,firstName,lastName,userId)VALUES (%s, %s, %s,%s)"
for i in query3.values:
#     print(int(i[3]))
    userid, sessionId, itemInSession,u=i[0],i[1],i[2],int(i[3])
#     print(userid, sessionId, itemInSession,u)
    session.execute(q,(userid, sessionId, itemInSession,u))

In [31]:
rows = session.execute("""SELECT firstName, lastName FROM app_history WHERE song = 'All Hands Against His Own'""")

for row in rows:
    print(row.firstname, row.lastname)

Jacqueline Lynch
Tegan Levine
Sara Johnson

## Drop all the table

In [32]:
session.execute("drop table session_songs")
session.execute("drop table user_songs")
session.execute("drop table app_history")

In [33]:
session.shutdown()
cluster.shutdown()