### Install cassandra drive so that we can in python

!pip install cassandra-driver

In [1]:
import cassandra

### Use cluster from the cassandra to connect to a session

In [5]:
from cassandra import cluster
try:
    cluster=cluster.Cluster(['127.0.0.1'])
    session=cluster.connect()
except Exception as e:
    print(e)

### Check for the Database present or not

In [6]:
session.execute("select * from music_library")

InvalidRequest: Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

## Keyspace is the collection of the tables so we need to create a keyspace first and then create a table

In [8]:
try:
    session.execute("create keyspace if not exists udacity with replication={'class': 'SimpleStrategy', 'replication_factor' : 1 }")
except Exception as e:
    print(e)

## We need to set the session to use the latest keyspace

In [9]:
session.set_keyspace('udacity')

## Create a table in keyspace of udacity

In [11]:
query="create table if not exists music_library(year int,artist_name text,album_name text,primary key(year,artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

### Count the sum of the row's we have

In [13]:
try:
    count=session.execute("select count(*) from music_library")
except Exception as e:
    print(e)
print(count.one())

Row(count=0)

## Insert into music_library

In [14]:
query="insert into music_library(year,artist_name,album_name)values(%s,%s,%s)"
try:
    session.execute(query,(1970,'the beatles','let it be'))
except Exception as e:
    print(e)

In [21]:
try:
    count=session.execute("select * from music_library where year=1970")
except Exception as e:
    print(e)
for i in count:
    print(i)

Row(year=1970, artist_name='the beatles', album_name='let it be')

## Drop table we just created.....

In [22]:
try:
    session.execute("drop table music_library")
except Exception as e:
    print(e)

In [23]:
try:
    count=session.execute("select * from music_library where year=1970")
except Exception as e:
    print(e)
for i in count:
    print(i)

Error from server: code=2200 [Invalid query] message="unconfigured table music_library"

### cut the connection from cassandra

In [24]:
session.shutdown()
cluster.shutdown()