# STEP4 : Creating Facts & Dimensions
Start by connecting to the database by running the cells below. If you are coming back to this exercise, then uncomment and run the first cell to recreate the database. If you recently completed steps 1 and 2, then skip to the second cell.

In [1]:
%load_ext sql

In [2]:
db_endpoint="127.0.0.1"
db="pagila"
db_user="postgres"
db_password="macbook"
db_port='5432'
# postgresql://username:password@host:port/database

conn_string="postgresql://{}:{}@{}:{}/{}".format(db_user,db_password,db_endpoint,db_port,db)
print(conn_string)

postgresql://postgres:macbook@127.0.0.1:5432/pagila

In [3]:
%sql $conn_string

'Connected: postgres@pagila'

### Star Schema - Entity Relationship Diagram
<img src="files/facts.png">

### Create the dimension table

In [4]:
%%sql create table dimData(
date_key integer primary key,date date not null,
year smallint not null,
quater smallint not null,
month smallint not null,
day smallint not null,
week smallint not null,
isweekend boolean );

 * postgresql://postgres:***@127.0.0.1:5432/pagila
(psycopg2.ProgrammingError) relation "dimdata" already exists
 [SQL: 'create table dimData(\ndate_key integer primary key,date date not null,\nyear smallint not null,\nquater smallint not null,\nmonth smallint not null,\nday smallint not null,\nweek smallint not null,\nisweekend boolean );'] (Background on this error at: http://sqlalche.me/e/f405)

To check your work, run the following query to see a table with the field names and data types. The output should match the table below.

In [5]:
%%sql
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name   = 'dimdate'

 * postgresql://postgres:***@127.0.0.1:5432/pagila
8 rows affected.

[('date_key', 'integer'),
 ('date', 'date'),
 ('year', 'smallint'),
 ('quarter', 'smallint'),
 ('month', 'smallint'),
 ('day', 'smallint'),
 ('week', 'smallint'),
 ('is_weekend', 'boolean')]

In [6]:
%%sql
CREATE TABLE dimCustomer
(
  customer_key SERIAL PRIMARY KEY,
  customer_id  smallint NOT NULL,
  first_name   varchar(45) NOT NULL,
  last_name    varchar(45) NOT NULL,
  email        varchar(50),
  address      varchar(50) NOT NULL,
  address2     varchar(50),
  district     varchar(20) NOT NULL,
  city         varchar(50) NOT NULL,
  country      varchar(50) NOT NULL,
  postal_code  varchar(10),
  phone        varchar(20) NOT NULL,
  active       smallint NOT NULL,
  create_date  timestamp NOT NULL,
  start_date   date NOT NULL,
  end_date     date NOT NULL
);

CREATE TABLE dimMovie
(
  movie_key          SERIAL PRIMARY KEY,
  film_id            smallint NOT NULL,
  title              varchar(255) NOT NULL,
  description        text,
  release_year       year,
  language           varchar(20) NOT NULL,
  original_language  varchar(20),
  rental_duration    smallint NOT NULL,
  length             smallint NOT NULL,
  rating             varchar(5) NOT NULL,
  special_features   varchar(60) NOT NULL
);
CREATE TABLE dimStore
(
  store_key           SERIAL PRIMARY KEY,
  store_id            smallint NOT NULL,
  address             varchar(50) NOT NULL,
  address2            varchar(50),
  district            varchar(20) NOT NULL,
  city                varchar(50) NOT NULL,
  country             varchar(50) NOT NULL,
  postal_code         varchar(10),
  manager_first_name  varchar(45) NOT NULL,
  manager_last_name   varchar(45) NOT NULL,
  start_date          date NOT NULL,
  end_date            date NOT NULL
);

 * postgresql://postgres:***@127.0.0.1:5432/pagila
(psycopg2.ProgrammingError) relation "dimcustomer" already exists
 [SQL: 'CREATE TABLE dimCustomer\n(\n  customer_key SERIAL PRIMARY KEY,\n  customer_id  smallint NOT NULL,\n  first_name   varchar(45) NOT NULL,\n  last_name    varchar(45) NOT NULL,\n  email        varchar(50),\n  address      varchar(50) NOT NULL,\n  address2     varchar(50),\n  district     varchar(20) NOT NULL,\n  city         varchar(50) NOT NULL,\n  country      varchar(50) NOT NULL,\n  postal_code  varchar(10),\n  phone        varchar(20) NOT NULL,\n  active       smallint NOT NULL,\n  create_date  timestamp NOT NULL,\n  start_date   date NOT NULL,\n  end_date     date NOT NULL\n);'] (Background on this error at: http://sqlalche.me/e/f405)

#### Create the fact table
TODO: Create the factSales table with the fields and data types shown in the ERD above. 

**Note on REFERENCES constraints:**<br> 
The demo video does not cover the REFERENCES constraint. When building a fact table, you use the REFERENCES constrain to identify which table and column a foreign key is connected to. This ensures that the fact table does not refer to items that do not appear in the respective dimension tables. You can read more [here](https://www.postgresql.org/docs/9.2/ddl-constraints.html). Here's an example of the syntax on a different schema:

```
CREATE TABLE orders (
    order_id integer PRIMARY KEY,
    product_no integer REFERENCES products (product_no),
    quantity integer
);
```

In [7]:
%%sql
CREATE TABLE factSales
(
    sales_key SERIAL PRIMARY KEY,
    date_key INTEGER NOT NULL REFERENCES dimDate (date_key),
    customer_key INTEGER NOT NULL REFERENCES dimCustomer (customer_key),
    movie_key INTEGER NOT NULL REFERENCES dimMovie (movie_key),
    store_key INTEGER NOT NULL REFERENCES dimStore (store_key),
    sales_amount NUMERIC NOT NULL
);

 * postgresql://postgres:***@127.0.0.1:5432/pagila
(psycopg2.ProgrammingError) relation "factsales" already exists
 [SQL: 'CREATE TABLE factSales\n(\n    sales_key SERIAL PRIMARY KEY,\n    date_key INTEGER NOT NULL REFERENCES dimDate (date_key),\n    customer_key INTEGER NOT NULL REFERENCES dimCustomer (customer_key),\n    movie_key INTEGER NOT NULL REFERENCES dimMovie (movie_key),\n    store_key INTEGER NOT NULL REFERENCES dimStore (store_key),\n    sales_amount NUMERIC NOT NULL\n);'] (Background on this error at: http://sqlalche.me/e/f405)

In [8]:
%%sql
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name   = 'factsales'

 * postgresql://postgres:***@127.0.0.1:5432/pagila
6 rows affected.

[('sales_key', 'integer'),
 ('date_key', 'integer'),
 ('customer_key', 'integer'),
 ('movie_key', 'integer'),
 ('store_key', 'integer'),
 ('sales_amount', 'numeric')]